---
// 1. Importamos el traje (Layout)
// Usamos ../../ porque tenemos que salir de 'informatica' y luego de 'pages'
import BaseLayout from '../../layouts/Layout.astro';
---

<BaseLayout titulo="Proyectos de Informática | Eduardo">
  
    <h1>Sección Informática</h1>
    <p>Aquí irán mis proyectos, material, etc.</p>
    
    <a href="/">⬅ Volver al inicio</a>

</BaseLayout>