---
import BaseLayout from '../../layouts/Layout.astro'; // Nota los dos puntos ../../ para subir 2 niveles
---

<BaseLayout titulo="Educación | Eduardo">
  <h1>Sección Educación</h1>
  <p>Aquí irán mis guías y material.</p>
</BaseLayout>